@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

div,
a {
  overflow-wrap: break-word;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-content-layout {
  display: block;
  max-width: 1200px;
  margin: auto;
  padding-top: 100px;
}

.content {
  padding: 10px 20px;
  padding-left: 80px;
  .title {
    width: fit-content;
    margin-right: 10px;
    color: #fcd34d;
    font-weight: bold;
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  z-index: 2000;
  background: var(--primary-color);
  transform-origin: 0%;
}

@media screen and (max-width: 890px) {
  .main-content-layout {
    max-width: 100%;
    padding: 10px;
    padding-top: 100px;
  }
  .content {
    padding: 5px;
  }
}
