.about-me {
  margin-top: 50px;
  a {
    color: wheat;
  }

  .header {
    width: 200px;
    color: #fcd34d;
    border-bottom: 3px solid #48bdc9;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
  }
}
